# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folders
env/
venv/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and debug files
*.log

# IDE files
.vscode/
.idea/

# model files
tts_model/
vocoder_model/

.DS_Store

# audio files
audio/

